<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <title>掲示板</title>
</head>
<body class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-7">
        <h4 class="border-bottom my-3">TWEET</h4>
        <form
          th:action="@{/add}"
          th:object="${tweet}"
          method="post">
          <div class="form-group">
            <label for="content">ツイート</label>
            <input class="form-control" type="text" placeholder="今どうしてる？" th:field="*{content}">

            <button class="btn btn-primary col-2 mt-5">
              <i class="bi bi-pencil-square"></i>
              <span class="text">保存</span>
           </button>
        </div>
        </form>
        <h4 class="border-bottom my-3">ツイート一覧</h4>
        <div th:each="tweet : ${tweets}">
            <div>[[${tweet.id}]] - [[${tweet.content}]]</div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
